:root {
    --bgColour: #232323;
    --bgColour2: #1F1F1F;
    --grey1: #343434;
    --grey2: #454545;
    --foreColour: rgb(230, 230, 250);
    --foreColour2: rgba(230, 230, 250, 0.75);
    --accentColour: rgb(112, 37, 165);
    --accentColour2: rgba(75, 0, 130, 0.5);
    --offsetColour: green;
}

.App {
  text-align: center;
  background-color: var(--bgColour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--foreColour);
}

.charSheet {
    width: 100vw;
    padding: 5px;
}

/* *************************** defaults ************************** */

h1 {
    color: var(--accentColour);
    text-shadow: 1px 2px 2px var(--offsetColour), -1px -1px 1px var(--foreColour);
    padding: 0.5em;
    padding-bottom: 0.25em;
}

table {
    margin: auto;
    margin-bottom: 1em;
    color: var(--foreColour2);
}

thead th {    
    background-color: var(--bgColour2);
    box-shadow: -1px -1px 5px var(--grey1);
    padding-bottom: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;    
    color: var(--accentColour);
}

tr, thead {
    box-shadow: 2px 2px 5px var(--grey2);
}

th, td {
    background-color: var(--bgColour);
    box-shadow: -1px -1px 5px var(--grey1);
}

/* ************************ General ***************************** */

.underlined {
    text-decoration: underline;
}

a {
    color: var(--accentColour);
}

/* ************************ LiaHeader *************************** */

.header td {
    font-size: small;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 8em;
}

.header a {
    color: var(--accentColour);
    padding-left: 0.5em;
}

/* ************************* Abilities *************************** */

.abilities { /* td */
    padding-top: 0em;
    padding-bottom: 0.75em;
    position: relative;
    width: 2em;
    font-size: small;
}

.modifier {
    background-color: var(--accentColour);
    border-radius: 25px;
    width: 2.25em;
    height: 1.25em;
    line-height: 1.25em;
    position: absolute;
    font-size: medium;
    bottom: -0.75em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 2px var(--grey2), -1px -1px 5px var(--grey1);
    color: var(--foreColour);
}

/* **************************** Skills ****************************** */

h2 {
    background-color: var(--bgColour2);
    box-shadow: 1px 1px 2px var(--grey2), -1px -1px 5px var(--grey1);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;    
    color: var(--accentColour);
    font-size: large;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0;
}

.skills {
    display: flex;
}

.skills table {
    flex: 0.5;
}

.skills th {
    text-align: right;
    font-size: small;
    padding-right: 0.75em;
}

.skills td {
    background-color: var(--accentColour);
    width: 2em;
    font-size: medium;
}

.classSkill {
    color: var(--foreColour);
}

.animalSkill {
    color: var(--offsetColour);
    font-weight: bold;
}

/* *************************** WildShape *************************** */

label {
    font-size: small;
    color: var(--foreColour2);
}

select {
    border: none;
    padding: 7px 1em 7px 1em;
    border-radius: 7px;
    background-color: var(--accentColour);
    color: var(--foreColour);
    margin-bottom: 1em;
    box-shadow: 1px 1px 2px var(--offsetColour), -1px -1px 5px var(--grey1);
    outline: none;
}

label {
    margin-right: 0.5em;
    font-weight: bold;
    color: var(--offsetColour);
}

option {
    background-color: var(--bgColour);
}

a.link {
    font-size: small;
    margin-left: 0.5em;
    font-weight: bold;
    color: var(--offsetColour);
}

/* ****************************** Attacks ***************************** */

.attacks {
    font-size: small;
    margin-bottom: 0;
    text-align: left;
}

.attacks th {
    color: var(--accentColour);    
    padding-left: 0.75em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: var(--bgColour2);
}

.attacks td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.filters {
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {    
    padding-bottom: 0.25em;
}

.specialName {
    font-weight: bold;
}

p {
    text-align: left;
    font-size: small;
    color: var(--foreColour2);
    font-style: italic;
    padding-left: 0.75em;
}


/* ************************** Filter Dialog ************************ */

.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    padding: 1em;
}

.innerDialog {
    background-color: var(--bgColour);
    width: 100%;
    flex: 1;
    padding: 1em;
}

button {
    background-color: var(--accentColour);
    margin-bottom: 1em;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    padding: 7px 1em 7px 1em;
    border-radius: 7px;
    color: var(--foreColour);
    box-shadow: 1px 1px 2px var(--grey2), -1px -1px 5px var(--grey1);
}

button.unselected {
    background-color: var(--grey);
    color: var(--foreColour2);
}

.bottomButton {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 100%;
}


